@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400&display=swap);
._xQyMUgr14afHJNgEU-T{color:#717171;font-size:12px}
._1hRAqd0s2jLQhgIZ80YE{display:flex;padding:17px 14px;border-bottom:1px solid #bebebe;cursor:pointer;transition:background-color .2s ease}._19EU1rrbpZQGiTl2hvJF{flex-shrink:0;width:60px;height:60px;border-radius:10px}._2eGTcnjCYfv0TWNS5eXf{flex:1 0 0;margin-left:12px}._3Qr8kSa6yup34h656Yz6{margin-bottom:2px;font-weight:300;font-size:24px;line-height:28px}._3s4z16zgNbcH9jmH6GIY{background:#f5f7f6}._1hRAqd0s2jLQhgIZ80YE:hover{background:#e1e2e2}
._2DCYqmF-9RMz9b8Mu2mr{display:flex;flex-direction:column;width:366px;height:100vh;border-right:1px solid #bebebe}._3LxOMRRWY5edvKJLS8g4{display:flex;flex:0 0 66px;align-items:center;justify-content:center;border-bottom:1px solid #bebebe}._3LxOMRRWY5edvKJLS8g4 img{margin-top:3px;margin-right:5px}._3LxOMRRWY5edvKJLS8g4 h1{margin:0;font-weight:200;font-size:26px}._17eFtD9JWlwF0tIkgV5g{flex:1 0 0;min-height:0;overflow:auto}
._1iEgF-jMEFoAjV0RkMj9{display:flex;padding:10px;font-size:14px;border-top:1px solid #bebebe}._1iEgF-jMEFoAjV0RkMj9 .gMBPGDt0TJwvJjHJu7li,._1iEgF-jMEFoAjV0RkMj9 ._3CH27rOGZ5fgci_xZiHT{flex:0;background:none;border:none;border-radius:5px;outline:none;cursor:pointer;transition:background-color .2s ease}._1iEgF-jMEFoAjV0RkMj9 .gMBPGDt0TJwvJjHJu7li:hover,._1iEgF-jMEFoAjV0RkMj9 ._3CH27rOGZ5fgci_xZiHT:hover{background:#eaeaea}.Dy7vq9WSrvvwItxlATze{flex:1 0 auto;overflow:hidden;font-size:14px;font-family:Roboto,sans-serif;border:none;outline:none;resize:none}
._2ABfKHfrbg1BgqkNJks2{display:flex;padding:8px}._34HldmvWsE4vUEKfwVdY{width:50px;height:50px;border-radius:50%;box-shadow:0 4px 6px rgba(0,0,0,.3)}._3hhfsQLlpAKDDACEprJG{min-width:400px;max-width:800px;margin-right:8px;margin-left:8px}._3yxsRL5Kuni8Ycnmy7Fs{margin-bottom:3px;color:#717171;font-weight:300;font-size:12px}._1bP7yA4R-n_V3tExcpGS ._3yxsRL5Kuni8Ycnmy7Fs{text-align:right}._1O15jrAdNs1eXlwNA2vh{padding:8px;color:#fff;font-size:16px;background:var(--primary);border-radius:5px}._1bP7yA4R-n_V3tExcpGS ._1O15jrAdNs1eXlwNA2vh{background:var(--secondary)}._1O15jrAdNs1eXlwNA2vh img{max-width:100%}._1znUZSiBZC96VSiwGW5Q{display:flex;flex-direction:row-reverse;flex-wrap:wrap;margin-top:2px}._1bP7yA4R-n_V3tExcpGS ._1znUZSiBZC96VSiwGW5Q{flex-direction:row}._1znUZSiBZC96VSiwGW5Q img{width:16px;height:16px;margin-bottom:2px;margin-left:2px;border-radius:50%}._1bP7yA4R-n_V3tExcpGS{flex-direction:row-reverse}
._2-1rKSYsuXdgrxAajo-S{flex:1 0 0;min-height:0;overflow-y:auto}._2-1rKSYsuXdgrxAajo-S>div{display:flex;flex-direction:column-reverse;max-width:882px;min-height:100%;margin:0 auto;overflow-y:hidden}
._2NcNc--K4xyPwG7vP3Q9,._1oKPfe3bQY3NEMKLjwel{display:flex}._1oKPfe3bQY3NEMKLjwel{flex:1 0 auto;flex-direction:column;height:100vh}._2NcNc--K4xyPwG7vP3Q9 form{flex:0 0 auto}
._1BHurc0I7X-utw-cP9V3{display:flex;align-items:center;justify-content:center;min-width:100vw;min-height:100vh}
body{--primary:#00b871;--secondary:#1e6db4;margin:0;padding:0;font-family:Roboto,sans-serif}h1,h2,h3,h4,h5,h6{margin-top:0}
